/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 4.3em;
  padding-bottom: 4.3em;
  background-image: url('street.jpg');
  background-size: cover;
  height: 100%;
}

legend {
  font: 2.8em 'Hammersmith One', Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgba(200, 200, 200, 1);
}

.btn-default {
  font: 2em 'Hammersmith One', Arial, Helvetica, sans-serif;
  color: rgba(200, 200, 200, 1);
  background-color: rgba(200, 200, 200, 0);
  border-width: .1em;
  font-style: italic;
  margin-top: .3em;
}

.navbar-fixed-top {
  min-height: 4em;
}

.form-group {
  margin: 10px 0px;
}

#login-form {
  min-width: 54em;
  margin-top: 6em;
}

.navbar-brand {
  padding-top: .3em;
  font: 2em 'Hammersmith One', Arial, Helvetica, sans-serif;
}

.navbar-link {
  padding-right: .6em;
  font: 1.5em 'Hammersmith One', Arial, Helvetica, sans-serif;
}

#user-email, #user-password {
  min-height: 2em;
  min-width: 20em;
  font: 1.8em Arial, Helvetica, sans-serif;
  font-style: italic;
}

#login-form {
  padding: 2em;
  background: rgba(0, 0, 0, .5);
}

#search {
  min-height: 2em;
  min-width: 20em;
  font: 2.5em Arial, Helvetica, sans-serif;
  font-style: italic;
}

.noty_text {
  font-size : 18px;
  font-weight: normal;
}