/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url('street.jpg');
  background-size: cover;
  height: 100%;
}

#login-form {
  min-height: 200px;
  min-width: 600px;
}

#search-legend {
  font: 36px 'Hammersmith One', Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgba(200, 200, 200, 1);
}

.navbar-brand {
  font-size: 24px;
}

.container {

}

#login-form {
  padding: 30px;
  background: rgba(0, 0, 0, .5);
}

#search {
  min-height: 40px;
  min-width: 500px;
  font: 16px Arial, Helvetica, sans-serif;
  font-style: italic;
}