/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 4.3em;
  padding-bottom: 4.3em;
  background-image: url('street.jpg');
  background-size: cover;
  height: 100%;
}

legend {
  font: 2.8em 'Hammersmith One', Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgba(50, 50, 50, 1);
  border-bottom:3px solid gray;
}

.btn-default {
  font: 2em 'Hammersmith One', Arial, Helvetica, sans-serif;
  color: rgba(200, 200, 200, 1);
  background-color: rgba(200, 200, 200, 0);
  border-width: .1em;
  font-style: italic;
  margin-top: .3em;
}

.navbar-fixed-top {
  min-height: 4em;
}

.form-group {
  margin: 10px 0px;
}

#login-form {
  min-width: 54em;
  margin-top: 6em;
}

.navbar-brand {
  padding-top: .3em;
  font: 2em 'Hammersmith One', Arial, Helvetica, sans-serif;
}

.navbar-link {
  padding-right: .6em;
  font: 1.5em 'Hammersmith One', Arial, Helvetica, sans-serif;
}

#user-email, #user-password {
  min-height: 2em;
  min-width: 20em;
  font: 1.8em Arial, Helvetica, sans-serif;
  font-style: italic;
}

#login-form {
  padding: 2em;
  background: rgba(0, 0, 0, .5);
}

#login-div {
  min-width: 40em;
  margin-top: 3em;
  padding: 1em 5em;

}

#search {
  min-height: 2em;
  min-width: 20em;
  font: 2.5em Arial, Helvetica, sans-serif;
  font-style: italic;
}

.noty_text {
  font-size : 18px;
  font-weight: normal;
}

.logout-link {
  margin-top: 8px;
}


/*SEARCH RELATED SEARCH RELATED SEARCH RELATED*/
/*SEARCH RELATED SEARCH RELATED SEARCH RELATED*/
/*SEARCH RELATED SEARCH RELATED SEARCH RELATED*/



.hover {
  background-color: hsla(0, 0%, 100%, 0.42);
  cursor: pointer;
  cursor: hand;
  position: static;
}

.movie-info {
  padding: 5px 15px;
  position: static;
  background-color: hsla(0, 0%, 100%, 0.42);
  width: 60%;
}
#search-drop-down {
  color: hsla(0, 0%, 100%, 0.55);
  top: 100%;
  left: 0;
  z-index: 10;
  float
 position: relative;
  width: 500px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  background-color: hsla(0, 0%, 100%, 0.22);
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.search {
  width: 500px;
  height: 40px;
  margin: 20px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius:  3px;
  border: 1px
  solid #fff;
}

.box {
  position: absolute;
}

.search input {
  width: 370px;
  padding: 8px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
  font-size: 15px;
}

.search input:focus {
  outline: 0;
  background:transparent;
}

.search button {
  font-size: 15px;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;height: 40px;width: 120px;color: #fff;background: transparent;border-left: 1px solid #fff;border-radius: 0 3px 3px 0;}

.hover .search button {background: #fff;color:#444;}
.search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

.search button:focus {outline: 0;}